# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.dbmdl
*.pdb
*.cache
*.log
*.ncb
*.sdf
*.opensdf
*.VC.db

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
out/

# NuGet
*.nupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Others
*.swp
*.bak
*.tmp
*.tmp/
*.log
*.vspscc
_ReSharper*/
*.DotSettings.user

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml
/Core/Files
/API/appsettings.Development.json
/Files
